body, figure, ul, li {
	padding: 0;
	margin: 0;
	border: 0;
}

.group:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	border: 10px solid rebeccapurple;
	width: 510px;
	height: 510px;
	margin: 50px auto;
}

li {
	background-color: blue;
	list-style: none;
	float: left;
	width: 17px;
	height: 17px;
}

li.snake-square {
	background-color: green;
}

li.apple-square {
	background-color: red;
}
